---
layout: default
---
<div class="flex-container">
  {% include header.html %}
  <div class="content wrapper">
<br />
<br />
<br />
<br />
    {{ content }}
<br />
<br />
<br />
<br />
<center>
<a target="_blank" rel="me" href="https://youtube.com/c/moexik" title="Subscribe on Youtube">
<i class="fa fa-youtube-play fa-3x" aria-hidden="true"></i><br />
Subscribe on Youtube</a>
</center>
  {% include search.html %}
  {% include pagination.html %}
  </div> <!-- End Wrapper -->
  {% include footer.html %}
</div>
