---
layout: default
---
<div class="flex-container">
  {% include header.html %}
  <div class="content wrapper">
<div class="page-image">
      <div class="cover-image" style="background: url({{"" | prepend: site.baseurl | append : page.img}}) center no-repeat; background-size: cover;"></div>
    </div>
    {{ content }}
<br />
<br />
a
<center>
<a target="_blank" rel="me" href="https://youtube.com/c/moexik" title="Subscribe on Youtube">
<i class="fa fa-youtube-play fa-3x" aria-hidden="true"></i><br />
Subscribe on Youtube</a>
</center>
  {% include search.html %}
  {% include pagination.html %}
  </div> <!-- End Wrapper -->
  {% include footer.html %}
</div>
