---
layout: default
---
<div class="flex-container">
  {% include header.html %}
  <div class="content wrapper">
<br />
<br />
<br />
<br />
    {{ content }}
<br />
<br />
<br />
<br />
<center>
  <div style="font-size: 0.5rem;">
<a target="_blank" rel="me" href="https://youtube.com/c/moexik" title="Subscribe on Youtube">
<i class="fa fa-youtube-play" aria-hidden="true"></i><br />
  - Subscribe on Youtube -</a>
    </div>
</center>
  {% include search.html %}
  {% include pagination.html %}
  </div> <!-- End Wrapper -->
  {% include footer.html %}
</div>
